## Build the structured data files from the raw data:

In [1]:
from fpl_predictor.build_data import DataBuilder

# Run this code to update the structured data:
db = DataBuilder()

# Run this to access the object without building files:
db = DataBuilder(build_player_files=False, build_master_csv=False)

# Example function:
db.load_year_players(2019).head()

,name,code,element_type,first_name,id,second_name,squad_number,team,team_code,web_name
0,Shkodran Mustafi,69140,2,Shkodran,1,Mustafi,None,1,3,Mustafi
1,Héctor Bellerín,98745,2,Héctor,2,Bellerín,None,1,3,Bellerín
2,Sead Kolasinac,111457,2,Sead,3,Kolasinac,None,1,3,Kolasinac
3,Ainsley Maitland-Niles,154043,2,Ainsley,4,Maitland-Niles,None,1,3,Maitland-Niles
4,Sokratis Papastathopoulos,39476,2,Sokratis,5,Papastathopoulos,None,1,3,Sokratis

## Get information about players:

In [2]:
from fpl_predictor.player_information import PlayerInformation
pi = PlayerInformation()
pi.search_players("rui", "patr")

{38533: 'Rui Pedro dos Santos Patrício'}

In [3]:
# Get more details from a specific gameweek:
code = 38533
pi.get_player(code, year=2019, week=5)

{'code': 38533,
 'name': 'Rui Pedro dos Santos Patrício',
 'position': 'GK',
 'value': 51,
 'team': 'Wolves'}

## Build a Squad:

In [4]:
# Use this object to build a squad:
from fpl_predictor.squad_builder import SquadBuilder

# Scoring metric is the column from the data that you want to rank players by:
sqb = SquadBuilder(scoring_metric="ict_index")

In [5]:
codes = [38533, 39487, 149484, 206325, 172780, 103955, 118748, 61366, 44699, 
         57127, 193111, 98747, 109533, 80146, 153723]
sqb.squad.remove_all_players()
for code in codes:
    sqb.add_player(code=code, year=2019, week=5)

Player added to squad: Rui Pedro dos Santos Patrício
Player added to squad: Erik Pieters
Player added to squad: Tyrone Mings
Player added to squad: Oleksandr Zinchenko
Player added to squad: James Maddison
Player added to squad: Raheem Sterling
Player added to squad: Mohamed Salah
Player added to squad: Kevin De Bruyne
Player added to squad: Ashley Barnes
Player added to squad: Teemu Pukki
Player added to squad: Todd Cantwell
Player added to squad: Nick Pope
Player added to squad: Emerson Palmieri dos Santos
Player added to squad: Jordan Ayew
Player added to squad: John Lundstram

In [7]:
# Load a squad from CSV:
sqb.squad.remove_all_players()
sqb.squad.load_squad("gw7")

Squad of 15 players loaded from /Users/tp/projects/fpl-predictor/data/squads/gw7.csv

In [8]:
# See the first team chosen by the scoring_metric:
sqb.squad.selected

,code,name,position,value,score,score_per_value,team
0,103955,Raheem Sterling,MID,123,17.3,0.140650,Man City
1,118748,Mohamed Salah,MID,125,15.9,0.127200,Liverpool
2,193111,Todd Cantwell,MID,48,9.2,0.191667,Norwich
3,57127,Teemu Pukki,FWD,70,9.0,0.128571,Norwich
4,80146,Jordan Ayew,FWD,51,6.0,0.117647,Crystal Palace
5,93100,Jannik Vestergaard,DEF,52,5.4,0.103846,Southampton
6,206325,Oleksandr Zinchenko,DEF,56,4.8,0.085714,Man City
7,61366,Kevin De Bruyne,MID,98,4.8,0.048980,Man City
8,39487,Erik Pieters,DEF,47,3.5,0.074468,Burnley
9,98747,Nick Pope,GK,46,3.1,0.067391,Burnley
10,184341,Mason Mount,MID,67,3.1,0.046269,Chelsea
11,153723,John Lundstram,DEF,42,2.5,0.059524,Sheffield Utd
12,149484,Tyrone Mings,DEF,46,1.8,0.039130,Aston Villa
13,38533,Rui Pedro dos Santos Patrício,GK,51,1.0,0.019608,Wolves
14,44699,Ashley Barnes,FWD,67,0.2,0.002985,Burnley

In [9]:
sqb.squad.substitutes

,code,name,position,value,score,score_per_value,team
0,153723,John Lundstram,DEF,42,2.5,0.059524,Sheffield Utd
1,149484,Tyrone Mings,DEF,46,1.8,0.039130,Aston Villa
2,38533,Rui Pedro dos Santos Patrício,GK,51,1.0,0.019608,Wolves
3,44699,Ashley Barnes,FWD,67,0.2,0.002985,Burnley

## Captain & Vice-Captain Picks

In [10]:
sqb.squad.captain

{103955: 'Raheem Sterling'}

In [11]:
sqb.squad.vice_captain

{118748: 'Mohamed Salah'}

## Evaluate potential transfers:

In [12]:
# Evaluate potential transfers from the currently selected squad:
from fpl_predictor.strategies.sample import evaluate_transfers, make_tranfers

# Change the criteria for ranking players:
sqb.cross_seasons = True
sqb.set_n(10)
sqb.set_scoring_metric("ict_index")

# Get suggested transfers:
transfers = evaluate_transfers(sqb, 2019, 8, live=True)
transfers

,available,code,minutes_percent,name,out_code,out_name,out_score,out_score_per_value,out_team,out_value,position,score,score_per_value,team,value,score_gain,score_per_val_gain,val_gain,squad_unavailable,first_team_unavailable
0,1.0,195546.0,0.691111,Emiliano Buendía,61366.0,Kevin De Bruyne,4.8,0.048980,Man City,98.0,MID,7.985714,0.133095,Norwich,60.0,3.185714,0.084116,38.0,True,True
1,1.0,103123.0,0.600000,Sébastien Haller,44699.0,Ashley Barnes,0.2,0.002985,Burnley,67.0,FWD,8.085714,0.109266,West Ham,74.0,7.885714,0.106281,-7.0,False,False
2,1.0,195546.0,0.691111,Emiliano Buendía,184341.0,Mason Mount,3.1,0.046269,Chelsea,67.0,MID,7.985714,0.133095,Norwich,60.0,4.885714,0.086827,7.0,False,False
3,1.0,126184.0,1.000000,Nathan Aké,149484.0,Tyrone Mings,1.8,0.039130,Aston Villa,46.0,DEF,5.510000,0.112449,Bournemouth,49.0,3.710000,0.073319,-3.0,False,False
4,1.0,126184.0,1.000000,Nathan Aké,153723.0,John Lundstram,2.5,0.059524,Sheffield Utd,42.0,DEF,5.510000,0.112449,Bournemouth,49.0,3.010000,0.052925,-7.0,False,False
5,1.0,101188.0,0.980000,Lucas Digne,206325.0,Oleksandr Zinchenko,4.8,0.085714,Man City,56.0,DEF,7.410000,0.123500,Everton,60.0,2.610000,0.037786,-4.0,False,False
6,1.0,37915.0,0.900000,Hugo Lloris,38533.0,Rui Pedro dos Santos Patrício,1.0,0.019608,Wolves,51.0,GK,3.420000,0.062182,Spurs,55.0,2.420000,0.042574,-4.0,False,False
7,1.0,126184.0,1.000000,Nathan Aké,39487.0,Erik Pieters,3.5,0.074468,Burnley,47.0,DEF,5.510000,0.112449,Bournemouth,49.0,2.010000,0.037981,-2.0,False,False
8,1.0,101188.0,0.980000,Lucas Digne,93100.0,Jannik Vestergaard,5.4,0.103846,Southampton,52.0,DEF,7.410000,0.123500,Everton,60.0,2.010000,0.019654,-8.0,False,False
9,1.0,94924.0,0.716667,Gerard Deulofeu,80146.0,Jordan Ayew,6.0,0.117647,Crystal Palace,51.0,FWD,7.910000,0.129672,Watford,61.0,1.910000,0.012025,-10.0,False,False
10,1.0,37915.0,0.900000,Hugo Lloris,98747.0,Nick Pope,3.1,0.067391,Burnley,46.0,GK,3.420000,0.062182,Spurs,55.0,0.320000,-0.005209,-9.0,False,False

## Make Transfers:

In [14]:
sqb.squad.remove_player(149484)

Removed player from squad (14 remain): Tyrone Mings

In [16]:
sqb.add_player(code=126184, year=2019, week=7, live=True)

Player added to squad: Nathan Aké

In [17]:
# Save a squad to CSV:
sqb.squad.save_squad("gw8")

Squad of 15 players saved at: /Users/tp/projects/fpl-predictor/data/squads/gw8.csv