## Build the structured data files from the raw data:

In [1]:
from fpl_predictor.build_data import DataBuilder

# Run this code to update the structured data:
db = DataBuilder()

# Alternatively run this to access the object without building files:
db = DataBuilder(build_player_files=False, build_master_csv=False)

# Example function:
db.load_year_players(2019).head()

Making master player files ... ✓
Making master player gameweek CSV file ... ✓

,name,code,element_type,first_name,id,second_name,squad_number,team,team_code,web_name
0,Shkodran Mustafi,69140,2,Shkodran,1,Mustafi,None,1,3,Mustafi
1,Héctor Bellerín,98745,2,Héctor,2,Bellerín,None,1,3,Bellerín
2,Sead Kolasinac,111457,2,Sead,3,Kolasinac,None,1,3,Kolasinac
3,Ainsley Maitland-Niles,154043,2,Ainsley,4,Maitland-Niles,None,1,3,Maitland-Niles
4,Sokratis Papastathopoulos,39476,2,Sokratis,5,Papastathopoulos,None,1,3,Sokratis

## Get information about players:

In [2]:
from fpl_predictor.player_information import PlayerInformation
pi = PlayerInformation()
pi.search_players("rui", "patr")

/Users/tp/virtualenvs/fpl-predictor/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

{38533: 'Rui Pedro dos Santos Patrício'}

In [3]:
# Get more details from a specific gameweek:
code = 38533
pi.get_player(code, year=2019, week=5)

{'code': 38533,
 'name': 'Rui Pedro dos Santos Patrício',
 'position': 'GK',
 'value': 51,
 'team': 'Wolves'}

## Build a Squad:

In [4]:
# Use this object to build a squad:
from fpl_predictor.squad_builder import SquadBuilder

# Scoring metric is the column from the data that you want to rank players by:
sqb = SquadBuilder()

/Users/tp/virtualenvs/fpl-predictor/lib/python3.7/site-packages/ipykernel_launcher.py:5: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  """
/Users/tp/virtualenvs/fpl-predictor/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
codes = [38533, 39487, 149484, 206325, 172780, 103955, 118748, 61366, 44699, 
         57127, 193111, 98747, 109533, 80146, 153723]
sqb.squad.remove_all_players()
for code in codes:
    sqb.add_player(code=code, year=2019, week=5)

Player added to squad: Rui Pedro dos Santos Patrício
Player added to squad: Erik Pieters
Player added to squad: Tyrone Mings
Player added to squad: Oleksandr Zinchenko
Player added to squad: James Maddison
Player added to squad: Raheem Sterling
Player added to squad: Mohamed Salah
Player added to squad: Kevin De Bruyne
Player added to squad: Ashley Barnes
Player added to squad: Teemu Pukki
Player added to squad: Todd Cantwell
Player added to squad: Nick Pope
Player added to squad: Emerson Palmieri dos Santos
Player added to squad: Jordan Ayew
Player added to squad: John Lundstram

In [5]:
# Load a squad from CSV:
sqb.squad.remove_all_players()
sqb.squad.load_squad("gw11")

Squad of 15 players loaded from /Users/tp/projects/fpl-predictor/data/squads/gw11.csv

In [6]:
# See the first team chosen by the scoring_metric:
sqb.squad.selected

,code,name,position,value,score,score_per_value,team
0,103955,Raheem Sterling,MID,123,17.3,0.140650,Man City
1,118748,Mohamed Salah,MID,125,15.9,0.127200,Liverpool
2,85971,Heung-Min Son,MID,98,10.2,0.104082,Spurs
3,193111,Todd Cantwell,MID,48,9.2,0.191667,Norwich
4,57127,Teemu Pukki,FWD,70,9.0,0.128571,Norwich
5,173879,Tammy Abraham,FWD,77,8.6,0.111688,Chelsea
6,80146,Jordan Ayew,FWD,51,6.0,0.117647,Crystal Palace
7,171129,Diego Rico,DEF,42,5.8,0.138095,Bournemouth
8,93100,Jannik Vestergaard,DEF,52,5.4,0.103846,Southampton
9,39487,Erik Pieters,DEF,47,3.5,0.074468,Burnley
10,172850,Benjamin Chilwell,DEF,56,3.2,0.057143,Leicester
11,98747,Nick Pope,GK,46,3.1,0.067391,Burnley
12,184341,Mason Mount,MID,67,3.1,0.046269,Chelsea
13,153723,John Lundstram,DEF,42,2.5,0.059524,Sheffield Utd
14,38533,Rui Pedro dos Santos Patrício,GK,51,1.0,0.019608,Wolves

In [7]:
sqb.squad.substitutes

,code,name,position,value,score,score_per_value,team
0,172850,Benjamin Chilwell,DEF,56,3.2,0.057143,Leicester
1,184341,Mason Mount,MID,67,3.1,0.046269,Chelsea
2,153723,John Lundstram,DEF,42,2.5,0.059524,Sheffield Utd
3,38533,Rui Pedro dos Santos Patrício,GK,51,1.0,0.019608,Wolves

In [8]:
sqb.squad.first_team

,code,name,position,score,score_per_value,team,value
0,98747,Nick Pope,GK,3.1,0.067391,Burnley,46.0
1,103955,Raheem Sterling,MID,17.3,0.140650,Man City,123.0
2,118748,Mohamed Salah,MID,15.9,0.127200,Liverpool,125.0
3,85971,Heung-Min Son,MID,10.2,0.104082,Spurs,98.0
4,193111,Todd Cantwell,MID,9.2,0.191667,Norwich,48.0
5,57127,Teemu Pukki,FWD,9.0,0.128571,Norwich,70.0
6,173879,Tammy Abraham,FWD,8.6,0.111688,Chelsea,77.0
7,80146,Jordan Ayew,FWD,6.0,0.117647,Crystal Palace,51.0
8,171129,Diego Rico,DEF,5.8,0.138095,Bournemouth,42.0
9,93100,Jannik Vestergaard,DEF,5.4,0.103846,Southampton,52.0
10,39487,Erik Pieters,DEF,3.5,0.074468,Burnley,47.0

## Captain & Vice-Captain Picks

In [9]:
sqb.squad.captain

{103955: 'Raheem Sterling'}

In [10]:
sqb.squad.vice_captain

{118748: 'Mohamed Salah'}

## Evaluate potential transfers:

In [15]:
# Evaluate potential transfers from the currently selected squad:
from fpl_predictor.strategies.sample import evaluate_transfers, make_tranfers

# Change the criteria for ranking players:
sqb.cross_seasons = True
sqb.set_n(10)
sqb.set_scoring_metric("ict_index")

# Get suggested transfers:
transfers = evaluate_transfers(sqb, 2019, 11, live=False)
transfers

,available,code,minutes_percent,name,out_code,out_name,out_score,out_score_per_value,out_team,out_value,position,score,score_per_value,team,value,score_gain,score_per_val_gain,val_gain,squad_unavailable,first_team_unavailable
0,1.0,114283.0,0.992222,Jack Grealish,184341.0,Mason Mount,3.1,0.046269,Chelsea,67.0,MID,8.25,0.139831,Aston Villa,59.0,5.15,0.093562,8.0,False,False
1,1.0,101188.0,0.980000,Lucas Digne,172850.0,Benjamin Chilwell,3.2,0.057143,Leicester,56.0,DEF,6.56,0.111186,Everton,59.0,3.36,0.054044,-3.0,False,False
2,1.0,20480.0,0.800000,Tim Krul,38533.0,Rui Pedro dos Santos Patrício,1.0,0.019608,Wolves,51.0,GK,3.35,0.074444,Norwich,45.0,2.35,0.054837,6.0,False,False
3,1.0,68983.0,1.000000,Matthew Lowton,153723.0,John Lundstram,2.5,0.059524,Sheffield Utd,42.0,DEF,3.80,0.084444,Burnley,45.0,1.30,0.024921,-3.0,False,False
4,1.0,126184.0,1.000000,Nathan Aké,39487.0,Erik Pieters,3.5,0.074468,Burnley,47.0,DEF,4.17,0.083400,Bournemouth,50.0,0.67,0.008932,-3.0,False,False
5,1.0,61366.0,0.770000,Kevin De Bruyne,85971.0,Heung-Min Son,10.2,0.104082,Spurs,98.0,MID,10.82,0.106078,Man City,102.0,0.62,0.001997,-4.0,False,False
6,1.0,20480.0,0.800000,Tim Krul,98747.0,Nick Pope,3.1,0.067391,Burnley,46.0,GK,3.35,0.074444,Norwich,45.0,0.25,0.007053,1.0,False,False

## Make Transfers:

In [17]:
sqb.squad.remove_player(149484)

Removed player from squad (14 remain): Tyrone Mings

In [18]:
sqb.add_player(code=172850, year=2019, week=11, live=False)

Player added to squad: Benjamin Chilwell

In [19]:
# Save a squad to CSV:
sqb.squad.save_squad("gw11")

Squad of 15 players saved at: /Users/tp/projects/fpl-predictor/data/squads/gw11.csv